@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* --------------Шапка сайта----------------- */
* {
    box-sizing: border-box;
}

body {
    width: 1599px;
    margin: 0;
}

header {
    background-color: #FFFFFF;
}

.header_cont {
    display: flex;
    max-width: 1200px;
    margin: 30px auto 28px;
    height: 142px;
    position: relative;
}
.header_icon_cont {
    font-family: 'IM Fell Great Primer SC', serif;
    font-size: 18px;
    font-weight: 400;
    width: 73.2px;
    min-height: 105px;
    margin: 0 0 37px 0;
}

.header_icon {
    width: 68.41px;
    height: 85.04px;
    margin: 0 2.46px -1px 2.34px;
}

.brandname_cont {
    width: 73.2px;
    height: 21.44px;
}

.nav {
    width: 582px;
    height: 27px;
    margin: 57px 124.62px 58px 235.18px;
}
.links {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #151618;
    display: flex;
    gap: 72px;
    align-items: center;
}

.interaction {
    display: flex;
    justify-content: space-between;
    width: 180px;
    height: 29px;
    margin: 56px 5px 57px 0;
}

.bag_account {
    display: flex;
    justify-content: space-between;
    width: 58px;
    height: 29px;
    margin-right: 100px;
}

.bag {
    margin-right: 20px;
}

.loupe {
    width: 22px;
    height: 22px;
    margin: 3.5px;
}

a {
    color: inherit;
    text-decoration: none;
}

/* ----------------Секция с фоном Поле---------------------- */

.picture {
    background-image: url(./images/Поле.png);
    width: 1599px;
    height: 500px;
    font-family: 'Cormorant', serif;
    color: #FFFFFF;
}

.phrase1 {
    width: 789.51px;
    height: 120px;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 20px;
}

.phrase2 {
    width: 557.65px;
    height: 58px;
    font-size: 24px;
}

.phrase_cont {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 256px;
}
