@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer+SC&display=swap');

* {
    box-sizing: border-box;
}

header {
    min-height: 200px;
    background-color: #FFFFFF;

}
.header_cont {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    max-width: 1200px;
    height: 142px;
    margin: 30px auto 28px;
    align-items: center;
}
.header_icon_cont {
    font-family: 'IM Fell Great Primer SC', serif;
    font-size: 18px;
    font-weight: 400;
    width: 73.2px;
    min-height: 105px;
    position: relative;
    top: -19px;
    left: -1px;
    border: 1px solid black;
}

.brand_cont {
    max-width: 73.2px;
    max-height: 21.44px;
}

.nav {
    width: 582px;
    height: 27px;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
.links {
    font-family: "open sans", sans-serif;
    font-size: 18px;
    color: #151618;
    display: flex;
    justify-content: space-between;
}

.account {
    display: flex;
    justify-content: space-between;
    width: 180px;
    height: 29px;
}

.shop_account {
    display: flex;
    justify-content: space-between;
    width: 58px;
    height: 29px;
}

.loupe {
    width: 22px;
    height: 22px;
}
a {
    color: inherit;
    text-decoration: none;
    
}